<div id="messages" class="messages">
  <ul id="chat_area">
    <li><img class="icon" width="50" height="50" src="https://pbs.twimg.com/profile_images/506859911066554369/4CMZOikv.jpeg"><div class="name">CoordLab Information</div><div class="message">ログインしてコーディネートに参加しよう！</div></li>
  </ul>
</div>
<div class="message-form">
  <form accept-charset="UTF-8" action="/chat/message" data-remote="true" method="post">
    <div style="display:none">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <input id="comment" name="comment" type="text" style="width: 215px;">
    <input id='message_form_submit' name="commit" type="submit" value="send" style="width: 50px;">
  </form>
  <input id="twitter_name" type="text" style="width: 215px;">
  <input id='login_submit' type="button" value="login" style="width: 50px;">
</div>