<div id="messages" class="messages">
  <h2>チャット</h2>
  <ul id="chat_area">
  </ul>
</div>
<div class="message-form">
  <form accept-charset="UTF-8" action="/chat/message" data-remote="true" method="post">
    <div style="display:none">
      <input name="utf8" type="hidden" value="✓">
    </div>
    <input id="comment" name="comment" type="text">
    <input name="name" type="hidden" value="KAZZONE">
    <input id='message_form_submit' name="commit" type="submit" value="send">
  </form>
</div>
