<form action='search/iqon_item'>
  <input type='hidden' name='category_id1' value='10'>
  <input type='hidden' name='category_id2' value='17007'>
  <input type='submit' value='submit'>
</form>
<div class='api_result'>
  <% unless @api_result.nil? %>
    <% @api_result.each do |key, value| %>
      <%= key %>
      <%= value %>
    <% end %>
  <% end %>
</div>
