<h2>アイテムを検索</h2>
<select name='category_id1'>
  <% @category_id1.each do |key, value| %>
    <option value="<%= key %>"><%= value %></option>
  <% end %>
</select>

<input id='search_iqon_item' type='button' value='IQONのアイテム検索'>

<div id='search_items'>
</div>

<script>
  $("#search_iqon_item").on('click', function() {
    var category_id1 = $('select[name="category_id1"]').val();

    var endpoint = '/chat/search/iqon_item?category_id1' + '=' + category_id1;
    $.get(endpoint, function() {
    }).done(function(data) {
      $('#search_items').html('');
      for(var item in data['results']) {
        var item_image = data['results'][item].images.s_image;
        var item_div = $('<div class="item"><img src="' + item_image + '" /></div>');
        item_div.draggable({
          cursor: "move",
          refreshPositions: true,
          helper: 'clone',
          opacity: 0.45,
          revert: 'invalid'
        });
        $("#search_items").append(item_div);
      }
    });
  });
</script>
