<form action='search/iqon_item'>
  <select name='category_id1'>
      <% @category_id1.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
      <% end %>
  </select>

  <input type='submit' value='IQONのアイテム検索'>
</form>

<div class='api_result'>
  <% unless @api_result.nil? %>
    <% @api_result.each do |key, value| %>
      <%= key %>
      <%= value %>
    <% end %>
  <% end %>
</div>
