<div id='item_search'>
  <select id='category_id1' name='category_id1'>
    <% @category_id1.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>

  <select id="category_id2" name='category_id2'>
    <option value="">左のカテゴリを選択して下さい</option>
  </select>

  <input id='search_iqon_item' type='button' value='IQONのアイテムを検索'>
  <span id="set_search"><input id='search_iqon_set' type='button' value='IQONの人気コーデを検索'></span>
</div>

<div id='search_items'>
</div>
