<h2>アイテムを検索</h2>
<div>
  <select id='category_id1' name='category_id1'>
    <% @category_id1.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>

  <select id="category_id2" name='category_id2'>
    <option value="">左のカテゴリを選択して下さい</option>
  </select>

  <input id='search_iqon_item' type='button' value='IQONのアイテムを検索'>
</div>

<div id='search_items'>
</div>
