<div class="coord-outer">
  <div class="coord-inner">
    <%= render 'chat/inc/coord' %>
  </div>
  <div class="search-inner">
    <%= render 'chat/inc/search' %>
  </div>
</div>
<div class="chat-outer">
  <div class="chat-inner">
    <%= render 'chat/inc/chat' %>
  </div>
</div>
