<div class="coord-outer">
  <%= render 'chat/inc/coord' %>
  <%= render 'chat/inc/search' %>
</div>
<div class="chat-outer">
  <%= render 'chat/inc/chat' %>
</div>
<script>
    var sse = new EventSource("/chat/stream");
    sse.onmessage = function(event) {
        var message_li = document.createElement("li");
        message_li.textContent = event.data;
        document.getElementById("chat_area").appendChild(message_li);
    };
</script>
